  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .uppercase{
    text-transform: uppercase;
  }
  p{
    color: black;
  }
  header {
    width: 100%;
    padding: 1rem 2rem;
    background: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.logo-left{
    margin-left: 10%;
}

.space-between{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
 .account {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    margin-right: 15%;
  }

.account img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.account p {
  margin: 0;
}

.account-texts {
  display: flex;
  flex-direction: column;
}
.account-name{
  text-transform: uppercase;
  font-size: 7px;
  color: black;
}
.ola-joao{
  font-size: 20px;
  color: black;
}
.text{
  color: red;
  font-weight: bold;
}

.text-big{
  font-size: 30px;
}
.account-money{
  font-size: 10px;
  color: black;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}
footer {
    width: 100%;
    padding: 30px 40px;
    background: red;

}


.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left img {
    width: 140px;
    margin-left: 100px;
}

.footer-right {
    display: flex;
    gap: 25px;
}

.footer-right a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.footer-right a:hover {
    color: #00bfff;
}
.whatsapp-btn {
    background: #25D366;
    color: white;
    border: none;
    padding: 10px 18px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 20px;
}

.whatsapp-btn:hover {
    background: #1ebe5d;
}

.whatsapp-btn img {

    display: block;
}
.footer-content{
    width: 100%;
    max-width: 800px;
    padding: 20px;
    position: relative;
}
.footer-content h4, .footer-content p{
    color: white;

}

.sub-performance {
    width: 78%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.sub-performance ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.sub-performance ul li{
  padding: 8px 0px;
  text-transform: uppercase;
}

.sub-performance h4 {
    margin: 0;
    text-transform: uppercase;
}
.performance-tab {
    padding: 8px 15px;
    border: none;
    background-color: yellow;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.progress {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 0;
}
.progress-title{
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
}
.progress p{
  text-transform: uppercase;

}
hr{
  margin-bottom: 20px;
}
.progress-title h4{
  font-size: 25px;
  color: red;
  font-weight: bold;
  text-transform: uppercase;

}
.indicators-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.indicator {
    background: #f5f5f5;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.indicator-header{
  color:red;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
}

.indicator h3 {
    margin-bottom: 10px;
}
.indicator p{
  margin-bottom: 10px;
}

.indicator strong{
  border: 1px solid black;
  border-radius: 10px;
  color: red;
  font-weight: 1000;
  padding: 3px 15px;
}
.indicator-total{
  font-size: 40px;
  color: red;
  font-weight: bold;
}
.comments {
    width: 60%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    margin-left: 10%;
}
.column{
  flex-direction: column;
  align-items: start;
}

.comments .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comments .right{
  display: flex;
  gap:  20px;
  margin-left: 20%;
  font-size: 10px;

}
.comments .left img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.comments h4 {
    margin: 0;
    font-size: 16px;
}
.comment-actions {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
  flex-wrap: wrap;
}

.comment-actions li {
  margin-right: 15px;
}

.comment-actions li.right {
  margin-left: 300px;
}
.comment-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
}
.full-btn {
    width: 80%;
    padding: 12px 20px;
    background: black;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
    text-transform: uppercase;
}


   /* ---------- START CARDS ---------- */

.container{
  margin-top:18px;
  width: 79%;
}
.cards {
  margin-top: 20px;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  align-items:stretch;
}
.card {
  border-radius:12px;
  padding:18px 35px;
  background:#fff;
  display:flex;
  flex-direction:column;
  justify-content:center;
  min-height:84px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.03);
  font-weight:700;
  font-size:14px;
}
.card-text{
  font-weight:400;
  margin-top:6px; 
  font-size:20px;
}
.card.yellow {
    padding: 15px;
    border-radius: 10px;
    background: #ffeb3b; /* your yellow */
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-content img {
    width: 140px;
    height: auto;
}

.text-block {
    display: flex;    
    flex-direction: column;
}

.card.red { background:#ff3a3a; color:#fff; }
.card.gray { background:#ededed; color:#333; }
.card.white { background:#fff; color:#333; }


