.cursor-pointer {
    cursor: pointer;
}
.card {
    border-radius: 16px;
}

.btn-lg {
    border-radius: 12px;
}
.width-50 {
    width: 50px;
}
.qty{
    width: 60px;
    border: 1px solid black;
}
.width-160{
    max-width:160px;
}

.img-contain {
    max-height: 400px;
    object-fit: contain;
}
.img-cover {
    max-height: 200px;
    object-fit: cover;
}
.product-thumb {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
    max-width:60px;
}
.product_image{
    width: 500px;
    height: 500px;
    overflow: hidden;
}