.cursor-pointer {
    cursor: pointer;
}
.card {
    border-radius: 16px;
}

.btn-lg {
    border-radius: 12px;
}
.width-50 {
    width: 50px;
}
.width-160{
    max-width:160px;
}
.img-contain {
    max-height: 400px;
    object-fit: contain;
}
.img-cover {
    max-height: 200px;
    object-fit: cover;
}
